
<h1 class="collection">{{postName}}</h1>


<div class="row collection-row">
  <div class="col s12 m12 l6">
    {{#each subCat}}
    <h2 class="mini-collection" id="mini{{id}}">{{subName}}</h2>
    <div class="input-field col s12" id="area{{id}}">
      <textarea id="{{id}}" class="materialize-textarea">{{subValue}}</textarea>
      <label for="textarea3"></label>
    </div>
    {{/each}}
    