<h1 id="HabitTitle">{{month.name}} Habits</h1>

<div class="row">
    <div class="col s12">
        <div id="sub-grid" id="style-1">
            <div class="nocolor fixedToLeft spancol"></div>
            <div class="cellNUM">1</div>
            <div class="cellNUM">2</div>
            <div class="cellNUM">3</div>
            <div class="cellNUM">4</div>
            <div class="cellNUM">5</div>
            <div class="cellNUM">6</div>
            <div class="cellNUM">7</div>
            <div class="cellNUM">8</div>
            <div class="cellNUM">9</div>
            <div class="cellNUM">10</div>
            <div class="cellNUM">11</div>
            <div class="cellNUM">12</div>
            <div class="cellNUM">13</div>
            <div class="cellNUM">14</div>
            <div class="cellNUM">15</div>
            <div class="cellNUM">16</div>
            <div class="cellNUM">17</div>
            <div class="cellNUM">18</div>
            <div class="cellNUM">19</div>
            <div class="cellNUM">20</div>
            <div class="cellNUM">21</div>
            <div class="cellNUM">22</div>
            <div class="cellNUM">23</div>
            <div class="cellNUM">24</div>
            <div class="cellNUM">25</div>
            <div class="cellNUM">26</div>
            <div class="cellNUM">27</div>
            <div class="cellNUM">28</div>
            <div class="cellNUM">29</div>
            <div class="cellNUM">30</div>
            <div class="cellNUM">31</div>
            <div class="cell fixedToLeft disabled spancol">{{habits.0.dataValues.category}}</div>
            <div class="cell" value="{{boxId.0.dataValues.value}}" data-id="{{boxId.0.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.8.dataValues.value}}" data-id="{{boxId.8.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.16.dataValues.value}}" data-id="{{boxId.16.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.24.dataValues.value}}" data-id="{{boxId.24.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.32.dataValues.value}}" data-id="{{boxId.32.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.40.dataValues.value}}" data-id="{{boxId.40.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.48.dataValues.value}}" data-id="{{boxId.48.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.56.dataValues.value}}" data-id="{{boxId.56.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.64.dataValues.value}}" data-id="{{boxId.64.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.72.dataValues.value}}" data-id="{{boxId.72.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.80.dataValues.value}}" data-id="{{boxId.80.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.88.dataValues.value}}" data-id="{{boxId.88.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.96.dataValues.value}}" data-id="{{boxId.96.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.104.dataValues.value}}" data-id="{{boxId.104.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.112.dataValues.value}}" data-id="{{boxId.112.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.120.dataValues.value}}" data-id="{{boxId.120.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.128.dataValues.value}}" data-id="{{boxId.128.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.136.dataValues.value}}" data-id="{{boxId.136.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.144.dataValues.value}}" data-id="{{boxId.144.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.152.dataValues.value}}" data-id="{{boxId.152.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.160.dataValues.value}}" data-id="{{boxId.160.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.168.dataValues.value}}" data-id="{{boxId.168.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.176.dataValues.value}}" data-id="{{boxId.176.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.184.dataValues.value}}" data-id="{{boxId.184.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.192.dataValues.value}}" data-id="{{boxId.192.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.200.dataValues.value}}" data-id="{{boxId.200.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.208.dataValues.value}}" data-id="{{boxId.208.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.216.dataValues.value}}" data-id="{{boxId.216.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.224.dataValues.value}}" data-id="{{boxId.224.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.232.dataValues.value}}" data-id="{{boxId.232.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.240.dataValues.value}}" data-id="{{boxId.240.dataValues.id}}">Cell</div>
            <div class="cell fixedToLeft spancol">{{habits.1.dataValues.category}}</div>
            <div class="cell" value="{{boxId.1.dataValues.value}}" data-id="{{boxId.1.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.9.dataValues.value}}" data-id="{{boxId.9.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.17.dataValues.value}}" data-id="{{boxId.17.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.25.dataValues.value}}" data-id="{{boxId.25.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.33.dataValues.value}}" data-id="{{boxId.33.dataValues.id}}">Cell</div>
            <div class="cell" value="f{{boxId.41.dataValues.value}}" data-id="{{boxId.41.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.49.dataValues.value}}" data-id="{{boxId.49.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.57.dataValues.value}}" data-id="{{boxId.57.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.65.dataValues.value}}" data-id="{{boxId.65.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.73.dataValues.value}}" data-id="{{boxId.73.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.81.dataValues.value}}" data-id="{{boxId.81.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.89.dataValues.value}}" data-id="{{boxId.89.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.97.dataValues.value}}" data-id="{{boxId.97.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.105.dataValues.value}}" data-id="{{boxId.105.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.113.dataValues.value}}" data-id="{{boxId.113.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.121.dataValues.value}}" data-id="{{boxId.121.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.129.dataValues.value}}" data-id="{{boxId.129.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.137.dataValues.value}}" data-id="{{boxId.137.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.145.dataValues.value}}" data-id="{{boxId.145.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.153.dataValues.value}}" data-id="{{boxId.153.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.161.dataValues.value}}" data-id="{{boxId.161.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.169.dataValues.value}}" data-id="{{boxId.169.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.177.dataValues.value}}" data-id="{{boxId.177.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.185.dataValues.value}}" data-id="{{boxId.185.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.193.dataValues.value}}" data-id="{{boxId.193.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.201.dataValues.value}}" data-id="{{boxId.201.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.209.dataValues.value}}" data-id="{{boxId.209.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.217.dataValues.value}}" data-id="{{boxId.217.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.225.dataValues.value}}" data-id="{{boxId.225.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.233.dataValues.value}}" data-id="{{boxId.233.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.241.dataValues.value}}" data-id="{{boxId.241.dataValues.id}}">Cell</div>
            <div class="cell fixedToLeft spancol">{{habits.2.dataValues.category}}</div>
            <div class="cell" value="{{boxId.2.dataValues.value}}" data-id="{{boxId.2.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.10.dataValues.value}}" data-id="{{boxId.10.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.18.dataValues.value}}" data-id="{{boxId.18.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.26.dataValues.value}}" data-id="{{boxId.26.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.34.dataValues.value}}" data-id="{{boxId.34.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.42.dataValues.value}}" data-id="{{boxId.42.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.50.dataValues.value}}" data-id="{{boxId.50.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.58.dataValues.value}}" data-id="{{boxId.58.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.66.dataValues.value}}" data-id="{{boxId.66.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.74.dataValues.value}}" data-id="{{boxId.74.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.82.dataValues.value}}" data-id="{{boxId.82.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.90.dataValues.value}}" data-id="{{boxId.90.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.98.dataValues.value}}" data-id="{{boxId.98.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.106.dataValues.value}}" data-id="{{boxId.106.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.114.dataValues.value}}" data-id="{{boxId.114.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.122.dataValues.value}}" data-id="{{boxId.122.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.130.dataValues.value}}" data-id="{{boxId.130.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.138.dataValues.value}}" data-id="{{boxId.138.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.146.dataValues.value}}" data-id="{{boxId.146.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.154.dataValues.value}}" data-id="{{boxId.154.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.162.dataValues.value}}" data-id="{{boxId.162.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.170.dataValues.value}}" data-id="{{boxId.170.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.178.dataValues.value}}" data-id="{{boxId.178.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.186.dataValues.value}}" data-id="{{boxId.186.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.194.dataValues.value}}" data-id="{{boxId.194.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.202.dataValues.value}}" data-id="{{boxId.202.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.210.dataValues.value}}" data-id="{{boxId.210.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.218.dataValues.value}}" data-id="{{boxId.218.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.226.dataValues.value}}" data-id="{{boxId.226.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.234.dataValues.value}}" data-id="{{boxId.234.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.242.dataValues.value}}" data-id="{{boxId.242.dataValues.id}}">Cell</div>
            <div class="cell fixedToLeft spancol">{{habits.3.dataValues.category}}</div>
            <div class="cell" value="{{boxId.3.dataValues.value}}" data-id="{{boxId.3.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.11.dataValues.value}}" data-id="{{boxId.11.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.19.dataValues.value}}" data-id="{{boxId.19.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.27.dataValues.value}}" data-id="{{boxId.27.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.35.dataValues.value}}" data-id="{{boxId.35.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.43.dataValues.value}}" data-id="{{boxId.43.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.51.dataValues.value}}" data-id="{{boxId.51.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.59.dataValues.value}}" data-id="{{boxId.59.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.67.dataValues.value}}" data-id="{{boxId.67.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.75.dataValues.value}}" data-id="{{boxId.75.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.83.dataValues.value}}" data-id="{{boxId.83.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.91.dataValues.value}}" data-id="{{boxId.91.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.99.dataValues.value}}" data-id="{{boxId.99.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.107.dataValues.value}}" data-id="{{boxId.107.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.115.dataValues.value}}" data-id="{{boxId.115.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.123.dataValues.value}}" data-id="{{boxId.123.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.131.dataValues.value}}" data-id="{{boxId.131.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.139.dataValues.value}}" data-id="{{boxId.139.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.147.dataValues.value}}" data-id="{{boxId.147.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.155.dataValues.value}}" data-id="{{boxId.155.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.163.dataValues.value}}" data-id="{{boxId.163.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.171.dataValues.value}}" data-id="{{boxId.171.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.179.dataValues.value}}" data-id="{{boxId.179.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.187.dataValues.value}}" data-id="{{boxId.187.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.195.dataValues.value}}" data-id="{{boxId.195.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.203.dataValues.value}}" data-id="{{boxId.203.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.211.dataValues.value}}" data-id="{{boxId.211.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.219.dataValues.value}}" data-id="{{boxId.219.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.227.dataValues.value}}" data-id="{{boxId.227.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.235.dataValues.value}}" data-id="{{boxId.235.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.243.dataValues.value}}" data-id="{{boxId.243.dataValues.id}}">Cell</div>
            <div class="cell fixedToLeft spancol">{{habits.4.dataValues.category}}</div>
            <div class="cell" value="{{boxId.4.dataValues.value}}" data-id="{{boxId.4.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.12.dataValues.value}}" data-id="{{boxId.12.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.20.dataValues.value}}" data-id="{{boxId.20.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.28.dataValues.value}}" data-id="{{boxId.28.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.36.dataValues.value}}" data-id="{{boxId.36.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.44.dataValues.value}}" data-id="{{boxId.44.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.52.dataValues.value}}" data-id="{{boxId.52.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.60.dataValues.value}}" data-id="{{boxId.60.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.68.dataValues.value}}" data-id="{{boxId.68.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.76.dataValues.value}}" data-id="{{boxId.76.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.84.dataValues.value}}" data-id="{{boxId.84.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.92.dataValues.value}}" data-id="{{boxId.92.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.100.dataValues.value}}" data-id="{{boxId.100.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.108.dataValues.value}}" data-id="{{boxId.108.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.116.dataValues.value}}" data-id="{{boxId.116.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.124.dataValues.value}}" data-id="{{boxId.124.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.132.dataValues.value}}" data-id="{{boxId.132.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.140.dataValues.value}}" data-id="{{boxId.140.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.148.dataValues.value}}" data-id="{{boxId.148.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.156.dataValues.value}}" data-id="{{boxId.156.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.164.dataValues.value}}" data-id="{{boxId.164.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.172.dataValues.value}}" data-id="{{boxId.172.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.180.dataValues.value}}" data-id="{{boxId.180.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.188.dataValues.value}}" data-id="{{boxId.188.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.196.dataValues.value}}" data-id="{{boxId.196.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.204.dataValues.value}}" data-id="{{boxId.204.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.212.dataValues.value}}" data-id="{{boxId.212.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.220.dataValues.value}}" data-id="{{boxId.220.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.228.dataValues.value}}" data-id="{{boxId.228.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.236.dataValues.value}}" data-id="{{boxId.236.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.244.dataValues.value}}" data-id="{{boxId.244.dataValues.id}}">Cell</div>
            <div class="cell fixedToLeft spancol">{{habits.5.dataValues.category}}</div>
            <div class="cell" value="{{boxId.5.dataValues.value}}" data-id="{{boxId.5.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.13.dataValues.value}}" data-id="{{boxId.13.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.21.dataValues.value}}" data-id="{{boxId.21.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.29.dataValues.value}}" data-id="{{boxId.29.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.37.dataValues.value}}" data-id="{{boxId.37.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.45.dataValues.value}}" data-id="{{boxId.45.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.53.dataValues.value}}" data-id="{{boxId.53.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.61.dataValues.value}}" data-id="{{boxId.61.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.69.dataValues.value}}" data-id="{{boxId.69.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.77.dataValues.value}}" data-id="{{boxId.77.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.85.dataValues.value}}" data-id="{{boxId.85.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.93.dataValues.value}}" data-id="{{boxId.93.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.101.dataValues.value}}" data-id="{{boxId.101.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.109.dataValues.value}}" data-id="{{boxId.109.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.117.dataValues.value}}" data-id="{{boxId.117.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.125.dataValues.value}}" data-id="{{boxId.125.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.133.dataValues.value}}" data-id="{{boxId.133.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.141.dataValues.value}}" data-id="{{boxId.141.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.149.dataValues.value}}" data-id="{{boxId.149.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.157.dataValues.value}}" data-id="{{boxId.157.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.165.dataValues.value}}" data-id="{{boxId.165.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.173.dataValues.value}}" data-id="{{boxId.173.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.181.dataValues.value}}" data-id="{{boxId.181.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.189.dataValues.value}}" data-id="{{boxId.189.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.197.dataValues.value}}" data-id="{{boxId.197.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.205.dataValues.value}}" data-id="{{boxId.205.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.213.dataValues.value}}" data-id="{{boxId.213.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.221.dataValues.value}}" data-id="{{boxId.221.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.229.dataValues.value}}" data-id="{{boxId.229.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.237.dataValues.value}}" data-id="{{boxId.237.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.245.dataValues.value}}" data-id="{{boxId.245.dataValues.id}}">Cell</div>
            <div class="cell fixedToLeft spancol">{{habits.6.dataValues.category}}</div>
            <div class="cell" value="{{boxId.6.dataValues.value}}" data-id="{{boxId.6.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.14.dataValues.value}}" data-id="{{boxId.14.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.22.dataValues.value}}" data-id="{{boxId.22.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.30.dataValues.value}}" data-id="{{boxId.30.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.38.dataValues.value}}" data-id="{{boxId.38.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.46.dataValues.value}}" data-id="{{boxId.46.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.54.dataValues.value}}" data-id="{{boxId.54.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.62.dataValues.value}}" data-id="{{boxId.62.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.70.dataValues.value}}" data-id="{{boxId.70.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.78.dataValues.value}}" data-id="{{boxId.78.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.86.dataValues.value}}" data-id="{{boxId.86.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.94.dataValues.value}}" data-id="{{boxId.94.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.102.dataValues.value}}" data-id="{{boxId.102.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.110.dataValues.value}}" data-id="{{boxId.110.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.118.dataValues.value}}" data-id="{{boxId.118.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.126.dataValues.value}}" data-id="{{boxId.126.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.134.dataValues.value}}" data-id="{{boxId.134.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.142.dataValues.value}}" data-id="{{boxId.142.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.150.dataValues.value}}" data-id="{{boxId.150.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.158.dataValues.value}}" data-id="{{boxId.158.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.166.dataValues.value}}" data-id="{{boxId.166.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.174.dataValues.value}}" data-id="{{boxId.174.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.182.dataValues.value}}" data-id="{{boxId.182.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.190.dataValues.value}}" data-id="{{boxId.190.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.198.dataValues.value}}" data-id="{{boxId.198.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.206.dataValues.value}}" data-id="{{boxId.206.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.214.dataValues.value}}" data-id="{{boxId.214.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.222.dataValues.value}}" data-id="{{boxId.222.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.230.dataValues.value}}" data-id="{{boxId.230.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.238.dataValues.value}}" data-id="{{boxId.238.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.246.dataValues.value}}" data-id="{{boxId.246.dataValues.id}}">Cell</div>
            <div class="cell fixedToLeft spancol">{{habits.7.dataValues.category}}</div>
            <div class="cell" value="{{boxId.7.dataValues.value}}" data-id="{{boxId.7.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.15.dataValues.value}}" data-id="{{boxId.15.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.23.dataValues.value}}" data-id="{{boxId.23.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.31.dataValues.value}}" data-id="{{boxId.31.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.39.dataValues.value}}" data-id="{{boxId.39.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.47.dataValues.value}}" data-id="{{boxId.47.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.55.dataValues.value}}" data-id="{{boxId.55.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.63.dataValues.value}}" data-id="{{boxId.63.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.71.dataValues.value}}" data-id="{{boxId.71.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.79.dataValues.value}}" data-id="{{boxId.79.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.87.dataValues.value}}" data-id="{{boxId.87.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.95.dataValues.value}}" data-id="{{boxId.95.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.103.dataValues.value}}" data-id="{{boxId.103.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.111.dataValues.value}}" data-id="{{boxId.111.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.119.dataValues.value}}" data-id="{{boxId.119.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.127.dataValues.value}}" data-id="{{boxId.127.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.135.dataValues.value}}" data-id="{{boxId.135.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.143.dataValues.value}}" data-id="{{boxId.143.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.151.dataValues.value}}" data-id="{{boxId.151.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.159.dataValues.value}}" data-id="{{boxId.159.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.167.dataValues.value}}" data-id="{{boxId.167.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.175.dataValues.value}}" data-id="{{boxId.175.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.183.dataValues.value}}" data-id="{{boxId.183.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.191.dataValues.value}}" data-id="{{boxId.191.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.199.dataValues.value}}" data-id="{{boxId.199.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.207.dataValues.value}}" data-id="{{boxId.207.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.215.dataValues.value}}" data-id="{{boxId.215.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.223.dataValues.value}}" data-id="{{boxId.223.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.231.dataValues.value}}" data-id="{{boxId.231.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.239.dataValues.value}}" data-id="{{boxId.239.dataValues.id}}">Cell</div>
            <div class="cell" value="{{boxId.247.dataValues.value}}" data-id="{{boxId.247.dataValues.id}}">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>

        </div>
    </div>
</div>