{{#each habit}}
<h1 id="HabitTitle">{{dataValues.name}} Habits</h1>

<div class="row">
    <div class="col s12">
        <div id="sub-grid" id="style-1">
            <div class="nocolor fixedToLeft spancol">List Habits Here:</div>
            <div class="cellNUM">1</div>
            <div class="cellNUM">2</div>
            <div class="cellNUM">3</div>
            <div class="cellNUM">4</div>
            <div class="cellNUM">5</div>
            <div class="cellNUM">6</div>
            <div class="cellNUM">7</div>
            <div class="cellNUM">8</div>
            <div class="cellNUM">9</div>
            <div class="cellNUM">10</div>
            <div class="cellNUM">11</div>
            <div class="cellNUM">12</div>
            <div class="cellNUM">13</div>
            <div class="cellNUM">14</div>
            <div class="cellNUM">15</div>
            <div class="cellNUM">16</div>
            <div class="cellNUM">17</div>
            <div class="cellNUM">18</div>
            <div class="cellNUM">19</div>
            <div class="cellNUM">20</div>
            <div class="cellNUM">21</div>
            <div class="cellNUM">22</div>
            <div class="cellNUM">23</div>
            <div class="cellNUM">24</div>
            <div class="cellNUM">25</div>
            <div class="cellNUM">26</div>
            <div class="cellNUM">27</div>
            <div class="cellNUM">28</div>
            <div class="cellNUM">29</div>
            <div class="cellNUM">30</div>
            <div class="cellNUM">31</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab1Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab2Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab3Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab4Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab5Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab6Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab7Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab8Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>

        </div>
    </div>
</div>
{{/each}}