
<h1 id="HabitTitle">{{dataValues.name}} Habits</h1>

<div class="row">
    <div class="col s12">
        <div id="sub-grid" id="style-1">
            <div class="nocolor fixedToLeft spancol">List Habits Here:</div>
            {{#each habitBoxArray}}
            <div class="cellNUM">{{id}}</div>
            {{/each}}
            <div class="cell fixedToLeft spancol">{{dataValues.hab1Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab2Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab3Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab4Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab5Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab6Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab7Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell fixedToLeft spancol">{{dataValues.hab8Name}}</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cell" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>
            <div class="cellNUM2" value="false">Cell</div>

        </div>
    </div>
</div>
